* name
* gender
* race
* age
* phone number
* dob
* aadhar
* email
* address
* Fingerprints

In [1]:
import pandas as pd
import random_address
import numpy as np

In [2]:
name_male = pd.read_csv("D:\VIIT\ML\SIH data\Pyxis\Database\Indian-Male-Names.csv")

In [3]:
name_male.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

In [4]:

name_female =  pd.read_csv("D:\VIIT\ML\SIH data\Pyxis\Database\Indian-Female-Names.csv")

In [5]:
name_female

                            name gender    race
0                        shivani      f  indian
1                           isha      f  indian
2                smt shyani devi      f  indian
3                          divya      f  indian
4                          mansi      f  indian
...                          ...    ...     ...
15377                 saroj devi      f  indian
15378              naina @ geeta      f  indian
15379  manju d/0 baboo lal jatav      f  indian
15380                    shivani      f  indian
15381                      nayna      f  indian

[15382 rows x 3 columns]

In [6]:
nm = name_male[:300]

In [7]:
nf = name_female[:300]

In [8]:
name = pd.concat([nm,nf])

In [9]:
type(name)

pandas.core.frame.DataFrame

In [10]:
name = np.array(name)

In [11]:
name = pd.DataFrame(name,columns=["name","gender","race"])

In [12]:
type(name)

pandas.core.frame.DataFrame

In [13]:
name = name.sample(frac = 1)

In [14]:
name.head()

               name gender    race
42    jaswant singh      m  indian
240     sunil kumar      m  indian
255  chander shaker      m  indian
433          kranti      f  indian
459        subhadra      f  indian

In [15]:
add = random_address.real_random_address_by_state("CA")

In [16]:
add

{'address1': '915 Sacramento Street',
 'address2': '',
 'city': 'Bakersfield',
 'state': 'CA',
 'postalCode': '93305',
 'coordinates': {'lat': 35.3798759, 'lng': -119.0002119}}

In [17]:
import random

In [18]:
phno = []

In [19]:
for i in range(600):
    phno.append(random.randint(1000000000,9999999999))

In [20]:
phone_no = np.array(phno)

In [21]:
phone_no = pd.DataFrame(phone_no,columns=["phone_name"])

In [22]:
dob = []

In [23]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from random import choices
test_date1, test_date2 = date(1922, 1,1 ), date(2022, 1, 1)
K = 600
res_dates = [test_date1]
while test_date1 != test_date2:
    test_date1 += timedelta(days=1)
    res_dates.append(test_date1)
res = choices(res_dates, k=K)
dob.append(res)

In [24]:
phone_no.head()

   phone_name
0  3237246537
1  6819050253
2  5751937562
3  8232320435
4  1687227190

In [25]:
from datetime import datetime

In [26]:
dob_year = []
dob_month = []
dob_day = []
dob_yr = []

In [27]:
for i in range(600):

    year = dob[0][i].strftime("%Y")
    month = dob[0][i].strftime("%m")
    day = dob[0][i].strftime("%d")
    dob_yr.append(year)
    dob_month.append(month)
    dob_day.append(day)

In [28]:
dob_year = np.array(dob_yr)
dob_month = np.array(dob_month)
dob_day = np.array(dob_day)

In [29]:
dob_year = pd.DataFrame(dob_year,columns=["dob_year"])
dob_month = pd.DataFrame(dob_month,columns=["dob_year"])
dob_day = pd.DataFrame(dob_day,columns=["dob_year"])

In [30]:
dob_year.head()

  dob_year
0     2009
1     1926
2     1959
3     2004
4     1986

In [31]:
age =[]
for i in dob_yr:
    age.append(int((date.today().year-int(i))))

In [32]:
type(age[10])

int

In [33]:
age = np.array(age)
age = pd.DataFrame(age,columns=["age"])

In [34]:
age.head()

   age
0   13
1   96
2   63
3   18
4   36

In [35]:
addhar_no = []
for i in range(600):
    addhar_no.append(random.randint(100000000000,999999999999))
addhar_no = np.array(addhar_no)
addhar_no = pd.DataFrame(addhar_no,columns=["addhar_no"])

In [36]:
addhar_no.head()

      addhar_no
0  241062666424
1  914629510962
2  292447325055
3  516423572119
4  727842926430

In [37]:
n = np.array(name["name"])

In [38]:
type(n[1])

str

In [39]:
name["name"][3]

'birender mandal'

In [40]:
name_new = pd.read_csv("name_600.csv")

In [41]:
name_new.head()

              name gender    race
0      asha kumari      f  indian
1            nitin      m  indian
2           tripti      f  indian
3         som dutt      m  indian
4  bhagwati prasad      m  indian

In [42]:
email = pd.read_csv("email.csv")

In [43]:
email.head()

       ashakumari@gmail.com
0           nitin@gmail.com
1          tripti@gmail.com
2         somdutt@gmail.com
3  bhagwatiprasad@gmail.com
4         yognder@gmail.com

In [44]:
address = []

In [45]:
for i in range(600):
    from faker import Faker
    fake = Faker(["en_IN"])
    temp1 =[fake.address(),fake.state()]
    address.append(temp1)

In [46]:
address = np.array(address)

In [47]:
address = pd.DataFrame(address,columns=["address","state"])

In [48]:
address.head()

                                             address             state
0                  96/72, Gulati\nPudukkottai 036038               Goa
1                        58\nChahal\nHindupur-117411  Himachal Pradesh
2  09/30\nBandi Road\nRaurkela Industrial Townshi...     Uttar Pradesh
3           10/11\nDhaliwal Street\nAnantapur-325329         Jharkhand
4                    06\nVerma Chowk\nBellary 910473         Rajasthan

In [49]:
temp = name_new["name"]
data = pd.DataFrame(temp,columns=["name"])

In [50]:
data["gender"] = name_new["gender"]

In [51]:
data["race"] = name_new["race"]

In [52]:
data["age"] = age

In [53]:
data["phone_no"] = phone_no

In [54]:
data["dob_year"] = dob_year

In [55]:
data["dob_month"] = dob_month

In [56]:
data["dob_day"] = dob_day

In [57]:
data["addhar_no"] = addhar_no

In [58]:
data["email"] = email

In [59]:
data["address"] = address["address"]

In [60]:
data["state"] = address["state"]

In [61]:
data.head()

,name,gender,race,age,phone_no,dob_year,dob_month,dob_day,addhar_no,email,address,state
0,asha kumari,f,indian,13,3237246537,2009,10,24,241062666424,nitin@gmail.com,"96/72, Gulati\nPudukkottai 036038",Goa
1,nitin,m,indian,96,6819050253,1926,01,25,914629510962,tripti@gmail.com,58\nChahal\nHindupur-117411,Himachal Pradesh
2,tripti,f,indian,63,5751937562,1959,12,17,292447325055,somdutt@gmail.com,09/30\nBandi Road\nRaurkela Industrial Townshi...,Uttar Pradesh
3,som dutt,m,indian,18,8232320435,2004,04,08,516423572119,bhagwatiprasad@gmail.com,10/11\nDhaliwal Street\nAnantapur-325329,Jharkhand
4,bhagwati prasad,m,indian,36,1687227190,1986,02,10,727842926430,yognder@gmail.com,06\nVerma Chowk\nBellary 910473,Rajasthan

In [ ]:
name_new.to_csv("name_new.csv",index= False)

In [ ]:
img_rgt_thumb = []
img_rgt_index = []
img_rgt_middle = []
img_rgt_ring = []
img_rgt_little = []

img_left_thumb = []
img_left_index = []
img_left_middle = []
img_left_ring = []
img_left_little = []
for i in range(300):
    img_rgt_thumb.append(str(i)+"__M_Right_thumb_finger") 
    img_rgt_index.append(str(i)+"__M_Right_index_finger") 
    img_rgt_middle.append(str(i)+"__M_Right_middle_finger")  
    img_rgt_ring.append(str(i)+"__M_Right_ring_finger")  
    img_rgt_little.append(str(i)+"__M_Right_little_finger") 
    
    img_left_thumb.append(str(i)+"__M_Left_thumb_finger") 
    img_left_index.append(str(i)+"__M_Left_index_finger") 
    img_left_middle.append(str(i)+"__M_Left_middle_finger")  
    img_left_ring.append(str(i)+"__M_Left_ring_finger")  
    img_left_little.append(str(i)+"__M_Left_little_finger")

In [ ]:
for i in range(300,600):
    img_rgt_thumb.append(str(i)+"__F_Right_thumb_finger") 
    img_rgt_index.append(str(i)+"__F_Right_index_finger") 
    img_rgt_middle.append(str(i)+"__F_Right_middle_finger")  
    img_rgt_ring.append(str(i)+"__F_Right_ring_finger")  
    img_rgt_little.append(str(i)+"__F_Right_little_finger") 
    
    img_left_thumb.append(str(i)+"__F_Left_thumb_finger") 
    img_left_index.append(str(i)+"__F_Left_index_finger") 
    img_left_middle.append(str(i)+"__F_Left_middle_finger")  
    img_left_ring.append(str(i)+"__F_Left_ring_finger")  
    img_left_little.append(str(i)+"__F_Left_little_finger")

In [ ]:
data["img_rgt_thumb"] = img_rgt_thumb
data["img_rgt_index"] = img_rgt_index
data["img_rgt_middle"] = img_rgt_middle
data["img_rgt_ring"] = img_rgt_ring
data["img_rgt_little"] = img_rgt_little
data["img_left_thumb"] = img_left_thumb
data["img_left_index"] = img_left_index
data["img_left_middle"] = img_left_middle
data["img_left_ring"] = img_left_ring
data["img_left_little"] = img_left_little

In [ ]:
data.head()

In [ ]:
name_updated = pd.read_csv("email_copy.csv")

In [ ]:
name_updated.head()

In [ ]:
data["name"] = name_updated

In [ ]:
data.head()

In [ ]:
import os

In [ ]:
img = os. listdir("Real")

In [ ]:
img

In [ ]:
img_rgt_thumb = []
img_rgt_index = []
img_rgt_middle = []
img_rgt_ring = []
img_rgt_little = []

img_left_thumb = []
img_left_index = []
img_left_middle = []
img_left_ring = []
img_left_little = []

for i in range(6000):
    if "Left_index" in img[i]:
        img_left_index.append(img[i])
    elif "Left_little" in img[i]:
        img_left_little.append(img[i])
    elif "Left_middle" in img[i]:
        img_left_middle.append(img[i])    
    elif "Left_ring" in img[i]:
        img_left_ring.append(img[i])
    elif "Left_thumb" in img[i]:
        img_left_thumb.append(img[i])
    elif "Right_index" in img[i]:
        img_rgt_index.append(img[i])
    elif "Right_little" in img[i]:
        img_rgt_little.append(img[i])
    elif "Right_middle" in img[i]:
        img_rgt_middle.append(img[i])
    elif "Right_ring" in img[i]:
        img_rgt_ring.append(img[i])
    elif "Right_thumb" in img[i]:
        img_rgt_thumb.append(img[i])

In [ ]:
if "Left" in img[0]:
    print("yes")

In [ ]:
data["img_rgt_thumb"] = img_rgt_thumb
data["img_rgt_index"] = img_rgt_index
data["img_rgt_middle"] = img_rgt_middle
data["img_rgt_ring"] = img_rgt_ring
data["img_rgt_little"] = img_rgt_little
data["img_left_thumb"] = img_left_thumb
data["img_left_index"] = img_left_index
data["img_left_middle"] = img_left_middle
data["img_left_ring"] = img_left_ring
data["img_left_little"] = img_left_little

In [ ]:
len(img_rgt_thumb)

In [ ]:
len(img_left_index)

In [ ]:
data.head()

In [ ]:
data.to_csv("data.csv",index=False)

In [ ]:
data = pd.read_csv("data.csv")

In [ ]:
data.head()

In [ ]:
female_data.head()

In [ ]:
gender = input("")
input_gender = gender
gender_seprated = (data['gender']==gender)
gender_seprated_sep = data.loc[gender_seprated]

In [ ]:
gender_seprated_sep.head()

In [ ]:
age_upper = int(input("age_upperlimit"))
age_lower = int(input("age_lowerlimit"))
age_seprated = data[(data['age']>=age_lower & data['age']<=age_upper )]
age_seprated = age_seprated.bool()
age_seprated_sep = data.loc[age_seprated]

In [ ]:
gender = input("enter f for female and m for male")
input_gender = gender
gender_seprated = (data['gender']==gender)
gender_seprated_sep = data.loc[gender_seprated]

choice = int(input("enter 1 for specific age and 0 for age range"))
if(choice ==0):
    age_upper = int(input("age_upperlimit"))
    age_lower = int(input("age_lowerlimit"))
    age_seprated = gender_seprated_sep[gender_seprated_sep['age']>=age_lower]
    age_seprated = age_seprated[age_seprated['age']<=age_upper]
elif(choice==1):
    age_specific = int(input("enter specific age"))
    age_seprated = gender_seprated_sep[gender_seprated_sep['age']==age_specific]

In [ ]:
age_seprated